* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 5rem;
    background-color: rgb(182, 182, 189, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: max-content;
    text-align: center;
}

h1 {
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align: center;
}

label {
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    text-align: left;
}
input {
    height: 2rem;
    border-radius: 5px;
    width: 17rem;
    border: 1px solid rgb(58, 7, 105);
}

.send {
    margin-top: 1rem;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(58, 7, 105);
    color: white;
}

.send:hover {
    background-color: white;
    color: black;
}

pre {
    margin-top: 1rem;
    background:rgb(202, 202, 207);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    text-align: left;
}